* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3c3c3c;
    user-select: none;
} 

:root {
    --title-fontSize: 75px;
    --title-color: white; 
    
    --inputName-fontSize: 50px;
    --spacingInputName-color: #47b96a;
    --blurInputName-color: #7b72ff;
    --colorInputName-color: #ffee72;
    
    /* for change by inputs */
    --spacing: 5px;
    --blur: 0px;
    --color: #6b3270;
}

.app {
    max-width: 1200px;
    max-height: 100vh;
    margin: 0 auto;
    padding: 15px;
    font-family: consolas, sans-serif;
}

.title {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 30px;
    font-size: var(--title-fontSize);
}

.colored {
    color: var(--color);
    font-weight: bolder;
}

.inputWrapper {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.spacing, .blur, .color {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.spacing h2, .blur h2, .color h2 {
    font-size: var(--inputName-fontSize);
}

.spacing input, .blur input, .color input {
    width: 130px;
    cursor: pointer;
}

.spacing h2 {
    color: var(--spacingInputName-color);
}

.blur h2 {
    color: var(--blurInputName-color);
}

.color h2 {
    color: var(--colorInputName-color);
}

.sliderWrapper {
    max-width: 700px;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5px;
}

.sliderWrapper button:hover {
    box-shadow: 0px 0px 3px 1px #e7e7e7;
    transform: scale(1.02);
}

.sliderWrapper button:active {
    box-shadow: 0px 0px 3px 1px #3e2942;
    transform: scale(0.99);
    font-size: 35px;
}

.leftArrow, .rightArrow {
    width: 5%;
    height: 90px;
    font-size: 45px;
    color: #f0feff;
    background: #b3acef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    padding: 0 3px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s;
}

img {
    width: 86%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 5px;
    
    /* filters */
    padding: var(--spacing);
    filter: blur(var(--blur));
    background: var(--color);
}


@media(max-width: 1060px) {
    .title {
        font-size: 45px;
        margin-bottom: 10px;
    }
    
    .inputWrapper {
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        margin-bottom: 15px;
    } 
    
    .spacing h2, .blur h2, .color h2 {
        width: 143px;
        font-size: 35px;
    }
}

@media(max-width: 600px) {
    .leftArrow, .rightArrow {
        font-size: 0px;
        color: #b3acef;
    }
}


@media(max-width: 350px) {
    .title {
        font-size: 24px;
    }
    
    .inputWrapper {
        gap: 7px;
    } 
    
    .spacing h2, .blur h2, .color h2 {
        font-size: 25px;
        text-align: center;
    }
    
    .spacing, .blur, .color {
        gap: 5px;
    }
}